header {
    color: orange;
    text-align: left;
    font-size: 2em;
    background-color: rgb(63, 219, 219)
}

#thebody {
    align-content: center;
    color: rgb(76, 100, 28);
    font-size: 1em;
    background-color: rgb(75, 221, 231)
}

.header{
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

#test{
    color: rgb(255, 0, 21)
}

.body_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 2px;
}

/* .tenor-gif-embed {
    align-content: center;
} */

#query {
    border: 5px solid #4465a3;
    height: 30px;
    font-size: 14pt;

}

button {
    border: 5px solid #770e3a;
    font-size: 13px;
    background-color: #b5dad2


}

input {
    border: 5px solid #afc54f;
    font-size: 13px;
    background-color: #abddd3
}

#title_block {
    text-align: center
}