{% extends 'base.html' %}

{% block title %}
    {% if q %}
        <h3>Gifs results for "{{ q }}"</h3>
    {% else %}
        <h3>Some random Gifs</h3>
    {% endif %}
{% endblock %}


{% block body %}
    {% if not gif_urls %}
    <br>
    SORRY! NO GIFS FOUND
    {% else %}
        {% for url in gif_urls %}
            {% include 'gif.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}



<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
